.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000090;
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}

.modal.active {
    opacity: 1;
    z-index: 1;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
}

.modal-header {
    display: flex;
    position: relative;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
}

.modal-close {
    position: absolute;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.modal-close:hover {
    background-color: #FF4949;
    color: white;
}

.modal-field-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-image-container {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-image-input {
    display: none;
}

#modal-image-label {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#modal-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.modal-field {
    width: 100%;
    height: 40px;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px black;
    padding: 0 20px;
    font-size: 1rem;
}

.modal-field:focus {
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 3px var(--primary-color);
}

.modal-footer {
    background-color: inherit;
    text-align: right;
    padding: 0 20px;
}

@media (max-width:480px) {
    .modal {
        top: 100%;
        transition: all 1s ease;
    }
    .modal.active {
        top: 0;
    }
    .modal-content {
        margin: 0;
        width: 100%;
        position: fixed;
    }
    .modal-field {
        width: 100%;
    }
}